
body {

  overflow: hidden;
  user-select: none;
}

.hero__main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $--gradient-main;
  background-size: 400%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  width: 100%;
}

.font-primary {
  font-family: $font--primary;
}

.font-secondary {
  font-family: $font--secondary;
}

.dark {
  color: $--dark-grey;
}

.white {
  color: $--white-soft;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic
}

.hero__header {
  color: #333;
  font-family: $font--primary;
  font-weight: 400;
}

.gauge__banner {
  width: 100%;
  display: flex;
  padding: 3rem 0;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #fafafadf;
  box-shadow: 10px 5px 10px #c8c8c8;
}



.flex {
  display: flex;
}

.centered {
  justify-content: center;
}

.spaced {
  justify-content: space-between;
}

.button__container {
  margin-top: 3rem;
}

.button {
  min-width: 70px;
  min-height: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.125rem;
  margin: 0 .5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 7px grey;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.0875);
    opacity: 0.85;
    cursor: pointer;
  }
  
  &.success {
    background-color: #2cad2c;
  }

  &.danger {
    background-color: #f6b036;
  }

}
